body {
    background-image: url(./dark-honeycomb.png);
} 

#wrapper {
    background-color: #EEE;
} 

.card{
    width: auto;
    padding: 2em;
}
.card-title{
    border-bottom: 4px double #777;
     
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
    margin-top: 0.5em;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: rgb(231, 228, 228);
    margin-bottom: 1em;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

